@mixin titulos-h1y2 {
    margin: 18px 0px;
    letter-spacing: 10px;
    text-align: center;
    align-content: center;
}

@mixin tituloh3 {
    font-size: 1.5rem !important;
}
// reutilice mixin para los titulos
